#video_container,
#placeholder {
  float: none;
  margin: 0 auto;
  width: 500px;

  h3, h4 {
    text-align: center;
  }
}

#placeholder {
  height: 300px;
}

.controls {
  button {
    width: 100px;
  }
}